@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <div class="container p-4"> *@
@*     <form role="search"> *@
@*         <h3 class="mb-3">Search For a Trainee or a Course</h3> *@
@*         <div class="d-flex"> *@
@*             <div class="form form-floating me-3 col-3"> *@
@*                 <select class="form-select" id="floatingSelect" aria-label="Floating label select example"> *@
@*                     @foreach (var item in ViewBag.Trainees) *@
@*                     { *@
@*                         <option value="@item.Id">@item.Name</option> *@
@*                     } *@
@*                 </select> *@
@*                 <label for="floatingSelect">Select Trainee</label> *@
@*             </div> *@
@*             <div class="form form-floating me-3 col-3"> *@
@*                 <select class="form-select" id="floatingSelect" aria-label="Floating label select example"> *@
@*                     @foreach (var item in ViewBag.Courses) *@
@*                     { *@
@*                         <option value="@item.Id">@item.Name</option> *@
@*                     } *@
@*                 </select> *@
@*                 <label for="floatingSelect">Select Course</label> *@
@*             </div> *@
@*             <button class="btn btn-outline-primary col-2" type="submit">Search</button> *@
@*         </div> *@
@*     </form> *@
@* </div> *@
